* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: monospace;
  font-size: 18px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

#cardNr,
#adress,
#phoneNr,
#bookName {
  display: block;
  width: 100%;
}

button {
  border-radius: 5px;
  padding: 3px;
}
td,
th {
  border: 1px solid rgb(0, 0, 0);
  text-align: center;
  padding: 5px;
}
select {
  width: 100%;
}
#remover {
  background-color: red;
  width: 100%;
}
#formSubButton {
  width: 100%;
  background-color: rgb(53, 143, 216);
  color: aliceblue;
}
fieldset {
  width: 60%;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 5px;
  padding: 15px;
}
table {
  margin: 0 auto;
  border: 1px solid black;
  border-collapse: collapse;
  margin-top: 5px;
}
#bigDiv {
  display: flex;
  flex-direction: row;
}
#smallDivFirst {
  width: 100%;
  padding: 0;
}
#smallDivLast {
  width: 100%;
  padding: 0;
  margin: 0;
}
input {
  margin: 4px 2px;
  padding: 3px;
  border-radius: 5px;
}
