label,
input {
  display: block;
}
fieldset {
  display: flex;
  flex-direction: column;
  width: 40%;
  background-color: rgb(91, 84, 112);
  justify-content: center;
  margin: 0 auto;
  border: 0px;
  border-radius: 10px;
}
fieldset form {
  text-align: center;
  padding: 3px;
  gap: 5px;
  width: 70%;
  margin: 0 auto;
}
form button {
  width: 50%;
  margin: 0 auto;
  margin-top: 10px;
}
button:active {
  background-color: black;
}
button {
  transition-duration: 1s;
  background-color: rgb(41, 36, 54);
  padding: 10px;
  border-radius: 10px;
  border: 0px;
}
#fishField,
#catField,
#birdField {
  display: none;
}
#added {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  margin: 5px;
}
form {
  background-color: rgb(91, 84, 112);
  display: flex;
  flex-direction: column;
}
form p {
  margin: 5px;
}
#addedForm {
  border: 0px solid black;
  margin: 2px;
  border-radius: 10px;
  padding: 3px;
  gap: 2px;
  text-transform: capitalize;
}
* {
  color: white;
  font-size: 18px;
  font-family: monospace;
}
body {
  background-color: rgb(53, 48, 65);
}
header {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 5px;
}
header button {
  padding: 20px 30px;
}
input {
  color: black;
}
