label,
input {
  display: block;
}
fieldset {
  display: flex;
  flex-direction: column;
  width: 60%;
}
button:active {
  background-color: black;
}
button {
  transition-duration: 1s;
}
#fishField,
#catField,
#birdField {
  display: none;
}
