label,
input {
  display: block;
}
fieldset {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  width: 40%;
  background-color: rgb(91, 84, 112);
  justify-content: center;
  margin: 0 auto;
  border: 0px;
  border-radius: 10px;
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.75);
}
fieldset form {
  text-align: center;
  padding: 3px;
  gap: 5px;
  width: 70%;
  margin: 0 auto;
}
form button {
  width: 120px;
  height: 50px;
  margin: 10px auto;
  margin-top: 10px;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.75);
}
button:hover {
  background-color: blueviolet;
}
button:active {
  background-color: rgb(255, 255, 255);
  transition-duration: 0s;
  box-shadow: inset 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
button {
  transition-duration: 600ms;
  background-color: rgb(41, 36, 54);
  padding: 10px;
  border-radius: 10px;
  border: 0px;
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.75);
}
#fishField,
#catField,
#birdField {
  display: none;
}
#added {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  margin: 15px 5px;
}
form {
  background-color: rgb(91, 84, 112);
  display: flex;
  flex-direction: column;
}
form p {
  margin: 5px;
}
#addedForm {
  border: 0px solid black;
  margin: 2px;
  border-radius: 10px;
  padding: 3px;
  gap: 2px;
  text-transform: capitalize;
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.75);
}
* {
  color: white;
  font-size: 19px;
  font-family: monospace;
  text-shadow: 2px 2px 3px rgb(0, 0, 0);
}
body {
  background-color: rgb(53, 48, 65);
}
header {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 15px 0 30px 0;
}
header button {
  padding: 20px 30px;
}
input {
  color: black;
}
